- version = activity.trackable
%li.col-xs-12
  .activtyLeft.col-xs-12.col-sm-2
    .pull-right
      %small{title: activity.created_at} #{time_ago_in_words(activity.created_at)} ago
      %br/
      Version Added
      %br/
      = link_to activity.owner.username, user_path(activity.owner)
  .activtyRight.col-xs-12.col-sm-10.col-md-9.col-lg-8
    .activity
      .message
        %strong= version.game.name
        %small (#{version.platform.name} #{version.aliases} #{version.language.code})
