= form_for @version do |f|
  - if @version.errors.any?
    #error_explanation
      %h2= "#{pluralize(@version.errors.count, "error")} prohibited this version from being saved:"
      %ul
        - @version.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :platform
    = f.text_field :platform
  .field
    = f.label :game
    = f.text_field :game
  .field
    = f.label :release_date
    = f.date_select :release_date
  .field
    = f.label :aliases
    = f.text_field :aliases
  .field
    = f.label :language
    = f.text_field :language
  .field
    = f.label :introductory_release_id
    = f.text_field :introductory_release_id
  .actions
    = f.submit 'Save'
