.row
  .col-xs-4
    %p
      %b Platform:
      = @version.platform.name
    %p
      %b Release date:
      = @version.release_date
    %p
      %b Aliases:
      = @version.aliases
    %p
      %b Language:
      = @version.language.code
    %p
      %b Introductory release:
      = @version.introductory_release_id