= form_for [@game, @version, @test], html: { class: "form-horizontal" } do |f|
  - if @test.errors.any?
    #error_explanation
      %h2= "#{pluralize(@test.errors.count, "error")} prohibited this test from being saved:"
      %ul
        - @test.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :version, class: "control-label col-sm-2"
    .col-sm-6
      = f.collection_select(:version_id, @game.versions, :id, :name, include_blank: true, class: "form-control")
  .form-group
    = f.label :compatibility, class: "control-label col-sm-2"
    .col-sm-6
      = f.select :compatibility, options_for_select(100.step(0, -10).map { |s| "#{s}%" }), class: "form-control"
      %span.help-block The percentage you feel this game is completeable
  .form-group
    = f.label :release, class: "control-label col-sm-2"
    .col-sm-6
      = f.collection_select(:release_id, Release.all, :id, :name, class: "form-control")
  .form-group
    = f.label :release_notes, class: "control-label col-sm-2"
    .col-sm-6
      = f.text_field :release_notes, class: "form-control"
      %span.help-block Any additional details about the release you tested against, ex: build information
  .form-group
    = f.label :user_system, class: "control-label col-sm-2"
    .col-sm-6
      = f.text_field :user_system, class: "form-control"
      %span.help-block The system you're testing this on, ex: Windows 10, Android 4.4 ... etc
  .form-group
    = f.label :comment, class: "control-label col-sm-2"
    .col-sm-6
      = f.text_area :comment, class: "form-control"
  .form-group
    .col-sm-offset-2.col-sm-6
      = f.submit 'Save', class: "btn btn-default"
